.flex-container{
   size: 200px;
   display: flex;
 }
.text-holder{
    font-family: 'Work Sans';
    position: absolute;
    text-align: right;
    top: 200px;
    bottom: 364px;
    right: 250px;
    left: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-us{
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding top: 18px;
    Padding bottom: 18px;
    height: 44px;
    border-radius: 5px;
    background: #FD6E0A;
}

.failure{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
}

.previous-year{
    top: 2000px;
    bottom: 3000px;
    margin-right: 150px;
    margin-top: 200px;
}
h2{
    margin-right: 400px;
}

h6{
    margin-right: 250px;
    font-size: small;
    font-weight: lighter;
}

nav ul {
    list-style: none;
  }
  
 nav ul li:before {
    content: '✓';
    color: greenyellow;
    line-height:180%
      }
.text3{
    margin-top: 50px;
    margin-left: 800px;
}
.li_myplans{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
}
.inside_limyplans{
    display: list-item;
}

.mainPic{
    position:relative;top:10px;left:200px;z-index:0;
    opacity: 0.7
}
.secondPic{
    position:absolute;top:1920px;left:210px;z-index:10;
    opacity: 0.7
}
.txt4{
    position: absolute;
    top:1950px;left:300px;
    color:white;
    font-weight: 1000;
    font-size: 50px;
    opacity: 1;
    z-index: 20;
    }
.btn2{
    margin-top: 10px;
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding top: 18px;
    Padding bottom: 18px;
    height: 44px;
    border-radius: 5px;
    background: #FD6E0A;
    background-color:white;
    position: absolute;
    top:2100px;left:300px;
    z-index: 20
}


