.flex-container{
   size: 200px;
   display: flex;
   between
 }
.text-holder{
    font-family: 'Work Sans';
    position: absolute;
    text-align: right;
    top: 200px;
    bottom: 364px;
    right: 250px;
    left: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-us{
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding top: 18px;
    Padding bottom: 18px;
    height: 44px;
    border-radius: 5px;
    background: #FD6E0A;
}

.previous-year{
    top: 4000px;
    bottom: 3000px;
}
nav{
    display: flex;
    justify-content: space-between;
    top: 1000px;
    bottom: 1600px;
    right: 1000px;
    left: 2000px;
}
nav li{
    list-style-type: square;
         }

